/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

/* 헤더 스타일 */
.header {
  background: linear-gradient(135deg, #4a90e2, #50c9c3);
  color: #fff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  height: 100px;
}

.header-left {
  flex: 1;
}

.header-left h1 {
  margin: 0;
  font-size: 1.2rem; /* 텍스트 크기 조정 */
}

.header-content h1 a {
  color: #fff; /* 링크 색상을 흰색으로 설정 */
  text-decoration: none; /* 밑줄 제거 */
}

.header-content h1 img {
  width: 100px;
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}

/* 네비게이션 */
.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem; /* 네비게이션 링크 크기 조정 */
  padding: 8px 15px;
  border-radius: 5px;
  transition: background 0.3s;
}

.navbar a:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* 오른쪽 언어 변경 */
.header-right {
  display: flex;
  align-items: center;
}

#language-switch {
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
}

/* 메인 배너 */
.banner {
  background-image: url("image/Main.jpg");
  background-size: cover;
  background-position: center;
  height: 75vh;
}

.banner h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

/* 객실 검색 폼 */
.rooms {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
}

.rooms h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  justify-content: center;
  gap: 5em;
  align-items: center;
}

label {
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}

input[type="date"],
select {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 150px;
  box-sizing: border-box;
}

button {
  padding: 14px;
  font-size: 16px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 120px;
}

button:hover {
  background-color: #4cae4c;
}

/* 반응형 디자인 */
@media (max-width: 600px) {
  .rooms input[type="date"],
  .rooms select,
  .rooms button {
    width: 100%;
    margin-bottom: 10px;
  }
}

.footer {
  background-color: #4a90e2;
  color: #fff;
  padding: 1em;
  text-align: center;
}
